:root {
    /* colors */
    /* brand colors */
    --primary: #123dd8;
    --secondary: #1275ea;
    --tertiary: #08c6e0;
    --alternate: #e9ecff;
    /* utility colors */
    --primary-text: #0a142c;
    --secondary-text: #57636c;
    --primary-background: #e5fcff;
    --secondary-background: #ffffff;
    /* accent colors */
    --accent-1: #4c4b9e;
    --accent-2: #39d2c0;
    --accent-3: #a8b4ff;
    --accent-4: #dde3ee;
    /* sematic colors */
    --success: #249689;
    --error: #ff6a72;
    --warning: #f3c969;
    --info: #9bafd9;
}

/* dark mode colors */
@media (prefers-color-scheme: dark) {
    :root {
        /* colors */
        /* brand colors */
        --primary: #123dd8;
        --secondary: #1275ea;
        --tertiary: #08c6e0;
        --alternate: #232b3a;
        /* utility colors */
        --primary-text: #ffffff;
        --secondary-text: #a4b1c0;
        --primary-background: #0e1118;
        --secondary-background: #1a1f2a;
        /* accent colors */
        --accent-1: #4c4b9e;
        --accent-2: #39d2c0;
        --accent-3: #5e6baf;
        --accent-4: #2f3a4b;
        /* sematic colors */
        --success: #249689;
        --error: #ff6a72;
        --warning: #f3c969;
        --info: #9bafd9;
    }
}